
		body{
				margin:0;
				padding:0;
				/*background:gray;*/
			}
			.header nav{
				width:100%;
				background:pink;
				overflow:auto;
			}
			.header ul {
				padding:25px;
				margin:0 0 50px 250px;
				list-style:none;
			}
			.header li{
				float:left;
				padding-right:25px;
			}
			.logo img{
				position:absolute;
				margin-top:30px;
				margin-left:30px;
			}
			.header nav a , .dropdown-content a{
				display:block;
				text-decoration:none;
			}
			.header nav a{
				padding:20px;
				font-family:Arial;
				color:black;
				text-align:center;
				font-weight:bold;
			}
			.dropdown {
				float: left;
				overflow: hidden;
			}
			.dropdown .droptoolbarBtn , .num{
				display:block;
				text-decoration:none;
				font-family:Arial;
				color:inherit;
				font-weight:bold;
				text-align:center;
				background-color:inherit;
				border:none;
			}
			.dropdown .droptoolbarBtn {
				padding:20px;
				font-size:inherit;
			}
			/* Dropdown content (hidden by default) */
			.dropdown-content {
				display: none;
				position: absolute;
				background-color: #f9f9f9;
				min-width: 160px;
				box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				z-index: 1;
			}
			.dropdown-content a {
				float: none;
				font-size:13px;
				padding: 12px 16px;
				text-align: left;
			}
			.dropdown-content a:hover {
			  color:red;
			  background-color:white;
			 
			}

			/* Show the dropdown menu on hover */
			.dropdown:hover .dropdown-content {
			  display: block;
			  
			}
			div.header{width:100%;}
			.header div , .sideicon div{float:left;}
			
			.sideicon{display:block;
			margin-right:30px;
				padding:20px 50px 20px 10px;
				background-color:inherit;
			}
			.num{
				padding:20px 1px;
				margin:0 0 0 0;
				font-size:20px;
				float:right;
			}
			.toolbarBtn , .icns {
				  background-color: white; 
				  border: none; 
				  color: black; 
				  padding: 12px 20px;
				  margin-right:10px;
				  margin-top:10px;
				  font-size: 16px;
				  border-radius: 50%;
				  cursor: pointer;
			}
			.toolbarBtn {
				  border: none; 
				  padding: 12px 20px;
				  margin-right:10px;
				  margin-top:10px;
				  font-size: 16px;    
			}
			.icns { 
				  border: black;
				  padding: 5px; 
				  margin:10px 3px;
				  font-size: 10px;
			}
			.toolbarBtn:hover , .icns:hover {
				  background-color: red;
			}
			.dropdown-content ul{margin:0;
				padding:0;}
			.dropdown-content li{float:none;}
			.dropdown-content img{padding-top :80px;}
			.dropdown-content img:hover{opacity:0.2;
			 cursor: pointer;
			}
			.header h3{margin:30px 0 0 15px;
			color:pink;}
			
			.container {
				width: 70px;
				height: 120px;
				margin-top:15px;
				margin-right:5px;
			}
			.container img {
				width: 100%;
				padding:0;
				height:auto;
				margin:0;
			}
			.oof a{max-width:120px;}

			.header p{color:red;
				padding-left:10px;
				padding-bottom:0;}
			.header span{
				font-size:11px;
				color:gray;
			}

			.toolbarBtnn{
				background-color:red;
				border:none;
				color:white;
				padding:12px 16px;
				margin-bottom:5px;
				margin-left:5px;
				font-size:14px;
				cursor:pointer;}

			.toolbarBtnn:hover { background-color: #b0e7db;}
			.header input{
				border-radius:50%;
				margin:15px 3px;}