.product
{
    border: solid;
    border-color:#ADEBE8 ;
    border-width: 0.5px;
    padding: 10px;
    height: 400px;
    margin: 0.1px;
    width: 300px;
    display: block;
    transition: 2s;

}
.popular{
    float: left;
    font: 30px "Playfair Display" , serif
}
.headthree{
    font: 18px Ubuntu, sans-serif;
}
.product img 
{
    height: 100%;
    width: 100%;
}
.large
{
    display: flex;
    float : left;
    height: 430px;
}
.btn {
    border: none; 
    color: black;
    background-color: #ADEBE8; 
    padding: 12px 12px; 
    font-size: 16px; 
    margin: 0;
    width:50px;height:50px;
    cursor: pointer;
    transition: .5s ease;
    opacity:0;
    position: absolute;
    top:60%;
    float: left;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 50%;
}
.next , .prev{
    border: none; 
    color: black;
    background-color:rgb(206, 199, 199); 
    border-radius: 50%;
    padding: 12px 12px; 
    font-size: 16px; 
    margin: 10px;
    position: absolute;
    width:50px;height:50px;
}
.next:hover,.prev:hover{
    background-color:rgb(236, 233, 233); 
}
.next{
    left: 90%;
}
.prev{
    left: 85%;
}

#btn1  {
    left:20% ;
    background-color: #F85457; 
    color: white;
}
#btn3:hover,#btn2:hover,#btn4:hover{
    background-color: #F85457; 
    color: white;
}
#btn2 {
    left:40% ;
}
#btn3 {
    left:60% ;
}
#btn4 {
    left:80% ;
}
.image{
    position: relative;
    height: 250px;
    width: 280px;
}
.image:hover .btn {
    opacity: 1;
}
.Price {
    color: tomato;
}
